@media only screen and (max-width:1200px) {
    html{
        overflow-x: hidden;
    }
    body {
        background-color: #264653;
    }
    
    header {
    
        background: lightblue;
    }
    
    .header_flex{
        padding: 10% 0;

        padding: 1%;
        grid-template-columns: auto auto;
    
    }

    
    .h2_fl{
        grid-column: 1;
        margin-right: 0;
    
    }
    
    .h1_fl {

        height: fit-content;
        grid-column: 2;
    }
    .main_flex{
        grid-template-columns: 45% 57% 1%;
    }

    
    #menu li a, #menu li span{
        font-weight: 50;
        width: max-content;
        line-height: 1000%;
    }
    #menu ul{
        padding: 0;
    }
         
    #menu li a{
            
        width: fit-content;
        font-size: 80%;
        color: #FFF;
    }
    .list_bot_fl{
    grid-row: 3;
    grid-column: 1/3;

    
    }

    
    
    
    .three_text{
        background-color: aliceblue;
        padding: 1%;
        
    }
    
    .five_text{
        background-color: rgb(158, 179, 196);
           
        
    }

    
 

.h2_foot{

    padding: 1%;
    grid-column: 1/3;

}
.foot_text
{
    grid-column: 1;
    text-align: left;
    margin: 1%;
    font-size: 100%;
    width: 50%;
}



    
}